<header>
  <h1>Homesお気に入り一覧</h1>
</header>
<div class="col-xs-12 col-md-12">
  <div class="col-xs-12 col-md-offset-2 col-md-3">home</div>
  <div class="col-xs-12 col-md-3">home</div>
  <div class="col-xs-12 col-md-3">home</div>
  <div class="col-xs-12 col-md-12">
    <% if logged_in? %>
      <% @favorite.each do |favorite| %>
      <div class="col-xs-6 col-md-offset-2 col-md-3"><%= favorite.home %></div>
      <div class="col-xs-6 col-md-3"><%= favorite.sikikinn %></div>
      <div class="col-xs-6 col-md-3"><%= image_tag favorite.image.url if favorite.image.url %></div>
      <% end %>
    <% end %>
  </div>
</div>
