<header>
  <h1>タイプ選択</h1>
</header>
<button type="button" class="create btn btn-secondary"><%= link_to "不動産業者 加入", users_path(:ad => true) %></button><br>
<button type="button" class="create btn btn-secondary"><%= link_to "会員 加入", users_path %></button>
