<header>
  <h1>select type</h1>
</header>
<button type="button" class="create btn btn-secondary"><%= link_to "create admin", users_path(:ad => true) %></button><br>
<button type="button" class="create btn btn-secondary"><%= link_to "create user", users_path %></button>
